abbrev_defs
auto-save-list/
backups/
bookmarks
.dap-*
.lsp-*
.mc-*
eclipse.jdt.ls/
eshell/
forge-database.sqlite
image-dired/
.org-*
org-*
projectile*
recentf
request/
tramp
transient/
url/
workspace/
logview-*
magnatune/
result
emojis/
.edbi-*